paper-dialog {
  --paper-dialog: {
    width: 90%;
    max-width: 545px;
    border-radius: 4px;
    padding: 15px;
  };
  --shadow-elevation-16dp: {
    box-shadow: 0 0 4px 0 rgba(0,0,0,.35),0 3px 2px 0 rgba(0,0,0,.18);
  }
}

/* The !important flags on this as well as the 
 * .wrap and .fs-dialog__close classes are to 
 * override the paper-dialog default styling that makes everything look weird */

paper-dialog h4.title {
  padding:0 !important;
  margin:0 0 10px 0 !important;
  text-align: left;
  @apply(--fs-modal-title);
}

.wrap {
  margin: 0 !important;
  padding: 0 !important;
}

.fs-dialog__close {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  background: transparent;
  border: none;
  box-shadow: 0 0 0 transparent;
  height: 1.25rem;
  height: 20px;
  line-height: 1;
  margin: 0 !important;
  padding: 0 !important;
  position: absolute;
  right: 0.625rem;
  right: 10px;
  top: 0.625rem;
  top: 10px;
  user-select: none;
  width: 1.25rem;
  width: 20px;
}

.fs-dialog__close:hover {
  cursor: pointer;
}

.fs-dialog__close:before,
.fs-dialog__close:after {
  background-color: #a8a8a8;
  border-radius: 4px;
  content: '';
  height: 2px;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 12px;
  width: 0.75rem;
}
.fs-dialog__close:before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
.fs-dialog__close:after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}
.fs-dialog__close:hover:before,
.fs-dialog__close:focus:before,
.fs-dialog__close:hover:after,
.fs-dialog__close:focus:after {
  background-color: #333331;
}
.fs-dialog__close:active:before,
.fs-dialog__close:active:after {
  background-color: #6f6f6f;
}

paper-dialog ::content [footer] {
  display: block;
  width: 100%;
  margin: 15px -15px -15px;
  background: #f4f4f4;
  padding: 10px 15px;
  border-top: 1px solid #ccc;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
};
