<link rel="import" href="../polymer/polymer.html">
<!--
  This element extends the button element with three attributes you can use to specify the characteristics of the button.
  
  Example:

    <button is='fs-button' size='large' option='recommended'>Click</button>

@group Seed Elements
@element fs-button
@demo demo/index.html
-->
<dom-module id="fs-button">
   <link rel="import" type="css" href="fs-button.css">
  <template>
    <content></content>
  </template>
</dom-module>

<script>
 Polymer({
    is: 'fs-button',
    extends: 'button',
    properties: {
      /**
       * If provided the button will render a spinner until
       * the attribute is removed. 
       * @type {Boolean}
       */
      loading: {
        type: Boolean,
        value: false,
        reflectToAttribute: true
      },
      /**
       * If provided this will render a different style of button (based
       * upon input). 
       *
       * Possible Values: `recommended`, `minor`
       * @type {String}
       */
      option: {
        type: String,
        reflectToAttribute: true
      },
      /**
       * If provided this will render different sizes of button (based
       * on input).
       *
       * Possible Values: `large`, `small`
       * @type {String}
       */
      size: {
        type: String,
        reflectToAttribute: true
      }
    }
  });
</script>

